* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #272431;
  --color-white: #fff;
  --color-primary: #ec5242;
  --color-primary-variant: #3c3f46;
  --color-light: #f5f5f5;
  --color-box: #f7f7f7;
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--color-box);
}

.background {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/ninosninas.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.menu-toggle {
  font-size: 40px;
  font-weight: 900;
  margin-left: 6%;
  margin-bottom: 3%;
  display: block;
}

.nav-desktop {
  display: none;
}

.main-section {
  padding: 5%;
}

.main-subtitle {
  color: var(--color-primary);
  font-size: 20px;
  padding: 0 2%;
}

.main-section h1 {
  font-size: 40px;
  color: var(--color-primary);
  font-weight: 900;
  padding: 0 2%;
}

.main-content {
  padding: 5% 3%;
  border: 3px solid var(--color-white);
  font-size: 12px;
  background-color: #f7f7f7;
  margin: 7% 0;
}

.main-date {
  color: var(--color-bg);
  font-weight: 900;
  font-size: 25px;
  padding: 0 2%;
}

.main-direction {
  font-size: 15px;
  margin: 2% 0 13% 0;
  padding: 0 2%;
}

.program {
  background-color: var(--color-bg);
  background-image: url("../img/bg-dark.png");
  color: var(--color-white);
}

.program-title {
  padding-top: 20px;
  text-align: center;
}

.line {
  margin: 7px 45% 25px 45%;
  border: 0.5px solid var(--color-primary);
}

.program-box {
  display: flex;
  flex-direction: row;
  padding: 2%;
  align-items: center;
  background-color: var(--color-primary-variant);
  background-image: url("../img/bg-dark.png");
  margin: 3%;
}

.program-image img {
  width: 50px;
  height: 50px;
}

.program-box h4 {
  font-size: 13px;
  color: var(--color-primary);
  padding: 0 15px;
}

.program-box p {
  font-size: 10px;
}

.container-program-button {
  text-align: center;
}

.program-button {
  padding: 6% 12%;
  background-color: var(--color-primary);
  color: var(--color-white);
  margin: 5% 0 10% 0;
}

.more-button {
  display: flex;
  align-items: center;
}

.more-button button {
  background-color: var(--color-box);
  color: var(--color-primary-variant);
  border: 0.1px solid var(--color-primary-variant);
  margin: 3% 3% 7% 3%;
  padding: 2% 39%;
  font-size: 11px;
  display: flex;
  align-items: center;
}

.more-button ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.more-button img {
  width: 11px;
  height: 7px;
  margin-left: 15px;
}

.featured-speakers {
  margin: 3% 4%;
}

.featured-speakers-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  display: flex;
  align-items: flex-start;
  padding-left: 10px;
  position: relative;
  margin-bottom: 30px;
}

.card .speaker-image {
  position: relative;
  z-index: 1;
  width: 30%;
}

.card .speaker-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/chess-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}

.card .speaker-image img {
  width: 85%;
  height: auto;
}

.speaker-info {
  margin-left: 10px;
}

.speaker {
  list-style: none;
  margin: 0;
  padding: 0;
}

.speaker-name {
  font-size: 14px;
  font-weight: bold;
}

.speaker-profession {
  font-size: 11px;
  color: var(--color-primary);
  font-style: italic;
}

.line2 {
  margin: 3% 90% 3% 0;
  border: 0.5px solid var(--color-primary-variant);
}

.speaker-background {
  font-size: 9px;
}

.program-link-desktop {
  display: none;
}

.partner {
  display: none;
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }

  .nav-desktop {
    display: block;
  }

  .nav-social-desktop {
    background-color: var(--color-bg);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    padding: 0 10% 0 10%;
  }

  .nav-social-desktop ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  .nav-social-desktop li {
    margin: 2px;
    color: var(--color-white);
    padding-bottom: 6px;
    margin-right: 10px;
  }

  .nav-content-desktop li {
    margin: 2px;
    color: var(--color-white);
    padding-bottom: 6px;
    margin-right: 40px;
  }

  .logos-partners li {
    flex-basis: calc(20% - 20px);
    margin: 10px;
  }

  .nav-social-desktop li:last-child {
    margin-right: 80px;
  }

  .program-link-desktop a {
    text-decoration: underline;
    color: inherit;
  }

  .nav-social-desktop li a {
    color: var(--color-white);
    font-size: 8px;
  }

  .program-image img {
    width: 50px;
    height: 50px;
  }

  .logo-footer img {
    width: 80%;
  }

  .nav-social-desktop li img {
    width: 8px;
    height: 8px;
  }

  .nav-content-desktop {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0 10% 0 10%;
  }

  .logo-link {
    display: flex;
  }

  .logo-img {
    width: 50px;
    height: auto;
    margin-right: 20px;
  }

  .nav-content-desktop ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  .nav-content-desktop li:last-child {
    margin-right: 80px;
  }

  .nav-content-desktop li a {
    color: var(--color-bg);
    font-size: 9px;
  }

  .main-section {
    padding-left: 10%;
    padding-right: 40%;
  }

  .program {
    background-color: var(--color-bg);
    background-image: url("../img/bg-dark.png");
    color: var(--color-white);
    padding: 1% 10% 0 10%;
  }

  .program-title {
    padding-top: 20px;
    text-align: center;
  }

  .line {
    margin: 10px 47% 25px 47%;
    border: 0.5px solid var(--color-primary);
  }

  .program-boxes-desktop {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding-top: 1%;
  }

  .program-box {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
    background-color: var(--color-primary-variant);
    background-image: url("../img/bg-dark.png");
    margin: 2px;
    width: 100%;
    max-width: 250px;
    height: 150px;
    text-align: center;
  }

  .program-box h4 {
    font-size: 13px;
    color: var(--color-primary);
  }

  .program-box p {
    font-size: 10px;
    text-align: center;
    padding: 5% 5%;
  }

  .container-program-button {
    display: none;
  }

  .program-link-desktop {
    display: block;
    text-align: center;
    margin: 5% 0 5% 0;
  }

  .program-link-container {
    padding: 3% 12%;
  }

  .more-button {
    display: none;
  }

  .partner {
    display: block;
    background-color: var(--color-primary-variant);
    padding: 0 10% 2%;
  }

  .title-partners {
    text-align: center;
  }

  .title-partners h4 {
    color: var(--color-white);
    padding-top: 3%;
  }

  .logos-partners-container {
    margin-top: 2%;
  }

  .logos-partners {
    display: flex;
    align-items: center;
  }

  .logos-partners li img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
  }
}
